# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [1]:
import sqlite3

### Assignment 1: Creating and Connecting to a Database

#### 1. Write a Python function to create a new SQLite3 database named `test.db`.

In [37]:
connection = sqlite3.connect("employees.db")

#### 2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [38]:
cursor = connection.cursor()
cursor.execute('''
Create Table If Not Exists employees(
            id Integer Primary Key,
            name Text Not Null,
            age Integer,
            department text
            )
''')
connection.commit()

### Assignment 2: Inserting Data

#### 1. Write a Python function to insert a new employee into the `employees` table.

In [8]:
def insert_employee(id, name, age, department):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute(
        '''INSERT into employees(id,name, age, department)
        Values(?,?,?,?)'''
    ,(id, name, age, department))
    connection.commit()
    connection.close()
    print("Employee added successfully")

#### 2. Insert at least 5 different employees into the `employees` table.

In [46]:
insert_employee(1001, 'Tanya Jaiswal',26,'C.A')
insert_employee(1002,'Jai Jaiswal',28,'Quantum Engineer')
insert_employee(1003,'Fuckminister',18,'Fuck')
insert_employee(1004,'Rahul Gandhi',56,'Pappu')
insert_employee(1005,'Narendra Modi',76,'Prime Minister')

Employee added successfully
Employee added successfully
Employee added successfully
Employee added successfully
Employee added successfully

### Assignment 3: Querying Data

#### 1. Write a Python function to fetch and display all records from the `employees` table.

In [14]:
def fetch_employee():
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('Select * from employees')
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    connection.close()
fetch_employee()

(1001, 'Tanya Jaiswal', 26, 'C.A')
(1002, 'Jai Jaiswal', 28, 'Quantum Engineer')
(1003, 'Fuckminister', 18, 'Fuck')
(1004, 'Rahul Gandhi', 56, 'Pappu')
(1005, 'Narendra Modi', 76, 'Prime Minister')

#### 2. Write a Python function to fetch and display all employees from a specific department.

In [15]:
def fetch_department(department):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute(
        '''Select * From employees Where department = ?''',(department,)
    )
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    connection.close()
fetch_department('C.A')

(1001, 'Tanya Jaiswal', 26, 'C.A')

### Assignment 4: Updating Data

#### 1. Write a Python function to update the department of an employee based on their `id`.

In [16]:
def update_department(department,id):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute(
        '''Update employees Set department = ? Where id = ?''',(department,id,)
    )
    connection.commit()
    connection.close()
    print("Department Updated")
update_department('Congress',1003)

Department Updated

#### 2. Update the department of at least 2 employees and display the updated records.

In [17]:
update_department('Whorehouse',1004)
fetch_employee()

Department Updated
(1001, 'Tanya Jaiswal', 26, 'C.A')
(1002, 'Jai Jaiswal', 28, 'Quantum Engineer')
(1003, 'Fuckminister', 18, 'Congress')
(1004, 'Rahul Gandhi', 56, 'Whorehouse')
(1005, 'Narendra Modi', 76, 'Prime Minister')

### Assignment 5: Deleting Data

#### 1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [19]:
def delete_id(id):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute(
        '''Delete from employees Where id = ?''',(id,)
    )
    connection.commit()
    connection.close()
    print("Record Deleted")

#### 2. Delete at least 1 employee and display the remaining records.

In [20]:
delete_id(1003)
fetch_employee()

Record Deleted
(1001, 'Tanya Jaiswal', 26, 'C.A')
(1002, 'Jai Jaiswal', 28, 'Quantum Engineer')
(1004, 'Rahul Gandhi', 56, 'Whorehouse')
(1005, 'Narendra Modi', 76, 'Prime Minister')

### Assignment 6: Advanced Queries

#### 1. Write a Python function to fetch and display employees older than a certain age.

In [28]:
def fetch_older_employees(age):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute(
        'Select name From employees Where age > ?',(age,)
    )
    names = cursor.fetchall()
    for name in names:
        print(name)
    connection.close()
fetch_older_employees(25)

('Tanya Jaiswal',)
('Jai Jaiswal',)
('Rahul Gandhi',)
('Narendra Modi',)

#### 2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [29]:
def fetch_employee_name_starts_with(letter):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?',(letter+'%',))
    records = cursor.fetchall()
    connection.close()
    for row in records:
        print(row)
fetch_employee_name_starts_with('T')

(1001, 'Tanya Jaiswal', 26, 'C.A')

### Assignment 7: Handling Transactions

#### 1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [50]:
def insert_many(employees):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    try:
        cursor.executemany(
            '''INSERT INTO employees(id, name, age, department)
            VALUES(?,?,?,?)''',employees
        )
        connection.commit()
        print("All Employee record added successfully")
    except Exception as e:
        connection.rollback()
        print(f"Exception occured : {e}")
    finally:
        connection.close()
employees = {
    (1001,'Govind Jaiswal',28,'Data Science'),
    (1002,'Tanya Jaiswal',26,'CA'),
    (1003,'Jai Jaiswal',40,'Quantum Technology'),
    (1004,'Amit Shukla',45,'Management'),
    (1003,'Siddharth Shanti',38,'HR'),
}
insert_many(employees)

Exception occured : UNIQUE constraint failed: employees.id

#### 2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [47]:
def update_all_age():
    connection = sqlite3.connect('employees.db')
    cursor = connection.cursor()
    try:
        cursor.execute(
            'UPDATE employees SET age = age+1'
        )
        connection.commit()
        print("Ages updated successfully")
    except Exception as e:
        connection.rollback()
        print("Error occured : ",e)
    finally:
        connection.close()
update_all_age()

Ages updated successfully

### Assignment 8: Creating Relationships

#### 1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [52]:
connection = sqlite3.connect('employees.db')
cursor = connection.cursor()
cursor.execute(
    '''CREATE TABLE IF NOT EXISTS departments(
    id INTEGER NOT NULL PRIMARY KEY,
    name TEXT NOT NULL
    )'''
)
connection.commit()
connection.close()
print("departments table created successfully")

departments table created successfully

#### 2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [55]:
def add_dept_foreign_key():
    connection = sqlite3.connect('employees.db')
    cursor = connection.cursor()
    cursor.execute('PRAGMA foreign_key = off;')
    cursor.execute('BEGIN TRANSACTION;')
    cursor.execute('ALTER TABLE employees RENAME TO old_employees;')
    cursor.execute(
        '''CREATE TABLE employees(
        id INTEGER NOT NULL,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT NOT NULL,
        FOREIGN KEY(id) REFERENCES departments(id)
        );'''
    )
    cursor.execute(
        '''INSERT INTO employees(id,name,age,department)
        SELECT id, name, age, department FROM old_employees;'''
    )
    cursor.execute('DROP TABLE old_employees;')
    cursor.execute('COMMIT;')
    cursor.execute('PRAGMA foreign_key = on;')
    connection.close()
    print("Table employees modified successfully")
add_dept_foreign_key()

OperationalError: database is locked

### Assignment 9: Indexing and Optimization

#### 1. Create an index on the `name` column of the `employees` table.

In [57]:
connection = sqlite3.connect('employees.db')
cursor = connection.cursor()
cursor.execute('CREATE INDEX idx_name on employees(name)')
connection.commit()
connection.close()